@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 40px;
    min-height: 100vh;
}
.container > div { /* divs who are children of the container (CHILD SELECTOR CSS)*/
    flex: 1;
    padding: 0 20px;
}
h1 {
    font-size: 40px;
    line-height: 50px;
}
p{
    font-size: 15px;
    opacity: 0.8;
}
.box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    text-align: center;
}
.box-blue {
    background-color: hsl(248, 53%, 58%);
}
input {
    border-radius: 5px;
    border: .5px solid hsl(246, 25%, 77%);
    display: block;
    width: 100%;
    padding: 15px 25px;
}
input:active{
    border: .5px solid hsl(248, 32%, 49%);
}
button {
    background-color: hsl(154, 59%, 51%);
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 14px;
    border: 1px solid hsl(154, 59%, 45%);
    box-shadow: 0 2px hsl(154, 59%, 45%);;
    padding: 15px 25px;
    font-weight: 500;
    display: block;
}
.form-control {
    position: relative;
    margin-bottom: 30px;
}
.form-control small {
    color: hsl(0, 100%, 74%);
    position: absolute;
    bottom: -20px;
    right: 0;
    text-align: right;
}
small {
    color: #bbb;
    font-size: 11px;
}
.textinho {
    display: block;
    margin-top: 2px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}
a:hover {
    text-decoration: underline;
}
button:focus {
    outline: none;
}
button:active {
    border-bottom-width: 1px;
    transform: translateY(2px);
}
.frontendmentor {
    color: white;
}
@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .container {
        flex-direction: column;
    }
}